.home {
  display: flex;
  flex-direction: column;
  // height: 100vh;

  h1 {
    text-align: center;
  }

  #metro1 {
    position: absolute;
    left: 0;
    top: 42%;
    width: 350px;
    height: 235px;
    object-fit: contain;
  }

  #metro2 {
    position: absolute;
    right: 0;
    top: 42%;
    width: 350px;
    height: 235px;
    transform: scaleX(-1);
    object-fit: contain;
  }

  #mouseRun {
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 100px;
  }
  .mint_component {
    height: 100vh;
    display: flex;
    .mint_interface {
      position: relative;
      display: flex;
      height: 665px;
      width: 1250px;
      background-color: #f2f2f2;
      border-radius: 25px;
      box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.3);
      margin: auto;

      .image_mint {
        display: flex;
        width: 100%;
        // height: 500px;
        flex-direction: column;
        text-align: center;

        .showAttributes {
          display: grid;
          grid-template-columns: 50% 50%;
          padding: 5px;

          li {
            display: flex;
            height: 50px;
            margin: 5px;
            background-color: rgba(199, 236, 247, 0.396);
            border: 1px solid rgba(64, 64, 64, 0.396);
            border-radius: 10px;

            p {
              margin: auto;
            }
          }
        }

        img {
          max-width: 100%;
          height: 37%;
          object-fit: contain;
          border-radius: 25px;
        }
      }

      .text_mint {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin: auto;

        .mint_display {
          display: flex;
          flex-direction: column;
          width: 80%;
          margin: auto;
          margin-left: auto;

          .input_display {
            display: flex;
            flex-direction: column;
            width: 100%;
            font-size: larger;

            .input_token {
              padding: 20px;
              border-radius: 10px;
              border: 0.5px solid rgba(116, 116, 116, 0.485);
              font-size: large;
              margin-bottom: 5px;
            }

            .input_title {
              display: flex;
              width: 100%;
              margin-bottom: 5px;

              #balance {
                margin-left: auto;
              }
            }

            .prince_balance {
              display: flex;

              #nft_balance {
                margin-left: auto;
              }
            }
          }

          .mint_button {
            background-clip: padding-box;
            border-style: none;
            box-sizing: border-box;
            color: rgba(0, 0, 0, 0.612);
            cursor: pointer;
            display: inline-block;
            flex-direction: row;
            flex-shrink: 0;
            font-family: Eina01, sans-serif;
            font-size: 16px;
            font-weight: 800;
            justify-content: center;
            line-height: 24px;
            min-height: 64px;
            outline: none;
            padding: 19px 26px;
            pointer-events: auto;
            // position: absolute;
            position: relative;
            text-align: center;
            width: 250px;
            height: 50px;
            margin: auto;
            // margin-top: 75px;
            // transform: translateX(-50px);
            z-index: 0;
          }

          .mint_button:before,
          .mint_button:after {
            border-radius: 80px;
          }

          .mint_button:before {
            background-color: rgba(150, 184, 239, 0.32);
            content: "";
            display: block;
            height: 100%;
            left: 0;
            overflow: hidden;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -2;
          }

          .mint_button:after {
            background: rgb(235,235,236);
            background: linear-gradient(90deg, rgba(235,235,236,0.7175245098039216) 0%, rgba(255,255,255,1) 100%);
            bottom: 4px;
            content: "";
            display: block;
            left: 4px;
            overflow: hidden;
            position: absolute;
            right: 4px;
            top: 4px;
            transition: all 100ms ease-out;
            z-index: -1;
          }

          .mint_button:hover:not(:disabled):after {
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            transition-timing-function: ease-in;
          }

          .mint_button:active:not(:disabled) {
            color: #ccc;
          }

          .mint_button:active:not(:disabled):after {
            background: linear-gradient(90deg, rgba(235,235,236,0.7175245098039216) 0%, rgb(163, 163, 163) 100%);;
            bottom: 4px;
            left: 4px;
            right: 4px;
            top: 4px;
          }

          .mint_button:disabled {
            cursor: default;
            opacity: 0.24;
          }
        }
      }
    }
  }
}

.trait {
  width: 100%;
  height: 1px;
  background-color: #886fbf;
}

//Reponsive

@media screen and (max-width: 1400px) {
  .home {
    .mint_component {
      .mint_interface {
        margin: auto;
        width: 85%;
        height: 75%;
      }
    }
  }
}
