.home {
  display: flex;
  flex-direction: column;
  height: 100vh;

  h1 {
    text-align: center;
  }

  #metro1{
    position: absolute;
    left: 0;
    top:42%;
    width: 250px;
    height: 150px;
  }

  #metro2{
    position: absolute;
    right: 0;
    top:42%;
    width: 250px;
    height: 150px;
    transform: scaleX(-1);
  }

  #mouseRun{
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 100px;
  }

  .mint_interface {
    position: relative;
    display: flex;
    // grid-template-columns: 40% 60%;
    height: 665px;
    width: 1250px;
    background-color: #F2F2F2;
    border-radius: 25px;
    box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.3);
    margin: auto;

    .image_mint {
      display: flex;
      width: 100%;
      height: 500px;
      flex-direction: column;
      text-align: center;

      .showAttributes{
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 5px;

        li{
            display: flex;
            height: 50px;
            margin: 5px;
            background-color: rgba(199, 236, 247, 0.396);
            border:1px solid  rgba(64, 64, 64, 0.396);
            border-radius: 10px;
            
            p{
                margin: auto;
            }
        }
    }

      img {
        max-width: 100%;
        height: 50%;
        object-fit: contain;
        border-radius: 25px;
      }
    }

    .text_mint {
      display: flex;
      flex-direction: column;
      width: 85%;
      margin: auto;

      .mint_display {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        margin-left: auto;

        .input_display {
          display: flex;
          flex-direction: column;
          width: 100%;
          font-size: larger;

          .input_token {
            padding: 20px;
            border-radius: 10px;
            border: 0.5px solid rgba(116, 116, 116, 0.485);
            font-size: large;
            margin-bottom: 5px;
          }

          .input_title {
            display: flex;
            width: 100%;
            margin-bottom: 5px;

            #balance {
              margin-left: auto;
            }
          }

          .prince_balance{
            display: flex;

            #nft_balance{
              margin-left: auto;
            }
          }
        }

        .mint_button {
          width: 20%;
          margin-top: 150px;
          border-radius: 10px;
          border: none;
          padding: 10px;
          color: white;
          background-color: #D9D059;
          margin: auto;
        }
        .mint_button:hover {
          background: rgba(156, 156, 156, 0.766);
          transition: 0.5s;
        }
      }
    }
  }
}

.trait{
  width: 100%;
  height: 1px;  
  background-color: #886FBF;
}
