.description_component{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;

    h1{      
        color: white;
    }
    .description_comp{
        margin: auto;
        h1{
            color: white;
        }
        img{
            float: left;
            width: 250px;
            height: 250px;
            margin-top: 25px;
            margin-bottom: 25px;
            margin-left: 25px;
            margin-right: 25px;
            border: 1px solid black;
            border-radius: 10px;

        }
        .description_div{
            display: flex;
            flex-direction: row;
            margin: auto;
            width: 50%;
            background-color: white;
            color: black;
            padding: 50px;
            border-radius: 15px;

            .text_description{
                display: flex;
                flex-direction: column;
                margin: auto;

                h3{
                    margin-top: 0;
                }
            }
        }
    }
}