.displayNFT_pages{
    display: flex;
    flex-direction: column;
    text-align: center;

    .displayOwned{
        display: flex;
        text-align: center;
        margin: auto;
        
        .showAttributes{
            display: grid;
            grid-template-columns: 50% 50%;
            padding: 5px;

            li{
                display: flex;
                height: 50px;
                margin: 5px;
                background-color: rgba(199, 236, 247, 0.396);
                border:1px solid  rgba(64, 64, 64, 0.396);
                border-radius: 10px;
                
                p{
                    margin: auto;
                }
            }
        }
        h3{
            margin: 0;
        }
    }

}