.displayNFT_pages{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);    


    h1{
        color: black;
    }
    .displayOwned{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        text-align: center;
        padding: 10px;

        .wallet_images{
            width: 450px;
            height: 450px;
        }

        .showAttributes{
            display: grid;
            grid-template-columns: 50% 50%;
            padding: 5px;

            li{
                display: flex;
                height: 50px;
                margin: 5px;
                background-color: rgba(255, 255, 255, 0.396);
                border:1px solid  rgba(105, 235, 255, 0.779);
                border-radius: 10px;
            
                p{
                    margin: auto;
                }
            }
        }
        h3{
            margin: 0;
        }
    }

}