.roadmap{
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  height: 100vh;  
  display: flex;
  flex-direction: column;
    h1 {
      color: white;
      margin-left: 10px;
    }
    img {      
      width: 100%;
    }
  
}

