.team {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);    
    height: 100vh;
    color: white;
  
    h1 {      
      margin-left: 10px;
    }

    .team_members {       
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        width: auto;
        margin-top: 50px;
        
            .team_member{
                padding: 10px;
                border: 1px solid white;
                border-radius: 15px; 
            }          
    }

    img {
        margin: auto;
        width : 150px;
        height : 150px;
        }
}  
