*{
    list-style: none;
    // font-family: 'Comfortaa', cursive;
    // font-family: Eina01, sans-serif;
    font-family: 'Titillium Web', sans-serif;
    padding-inline-start: 0;
} 
html{
  scroll-behavior: smooth;
}
p{
    // font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
}
a{
  text-decoration: none;
}
body{
  margin: 0;
}
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}


body::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: white; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid black; /* creates padding around scroll thumb */
}


a{
  color: white;
}
a:visited {
  color: white;
}
// @import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import "./pages/app";
@import "./components/navbar";
@import "./components/owner";
@import "./components/description";
@import "./components/displayNFT";
@import "./components/displayMint";
@import "./components/footer";
@import "./components/home";
@import "./components/team";
@import "./components/roadmap";
@import "./components/release";




