*{
    list-style: none;
    font-family: 'Comfortaa', cursive;
}
p{
    margin: 0;
    padding: 0;
}
body{
  margin: 0;
  background: rgb(107,126,182);
  background: linear-gradient(0deg, rgba(107,126,182,1) 0%, rgba(138,151,190,1) 26%); 
//   background: rgb(112,92,242);
// background: linear-gradient(0deg, rgba(112,92,242,1) 0%, rgba(144,128,242,1) 32%);
}
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: white; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid black; /* creates padding around scroll thumb */
}



@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import "./pages/app";
@import "./components/navbar";
@import "./components/description";
@import "./components/displayNFT";
@import "./components/displayMint";

